body {
  font-family: Arial, sans-serif;
  margin: 0;
  background-color: #f8f8f8;
  color: #222;
}

header {
  background-color: darkred;
  color: white;
  text-align: center;
  padding: 20px 0;
  position: relative;
}

header h1 {
  margin: 0;
  font-size: 40px;
}

nav {
  background-color: #b22222;
  display: flex;
  justify-content: center;
  gap: 30px;
  padding: 10px 0;
  top: 0;
  position: sticky;
  z-index: 100000;
}

nav a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  font-size: 18px;
  transition: 0.3s;
}

nav a:hover {
  text-decoration: underline;
}

main {
  padding: 20px;
}

h1{
    text-align: center;
}
h2 {
  text-align: center;
  color: darkred;
}

.sneakers {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
}

.sneakers section {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(214, 1, 1, 0.2);
  width: 230px;
  padding: 10px;
  text-align: center;
}

.sneakers section:hover{
  transform: translateY(-5px);
  box-shadow: 0 5px 10px #b22222;
}
.sneakers img {
  width: 200px;
  height: 200px;
  border-radius: 10px;
}

.price-old {
  text-decoration: line-through;
  color: gray;
  margin-right: 5px;
}

.price-new {
  color: darkred;
  font-weight: bold;
}

button{
  background-color: #d88888;
  border-radius: 10px;
  font-size: 15px;
}
footer {
  background-color: darkred;
  color: white;
  text-align: center;
  padding: 15px;
  margin-top: 30px;
}
